a {
  text-decoration: none;
  margin: 0;
}
a:nth-child(3n+3) .text-content{
  justify-content: center;
  gap: 2rem;
}
.text-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  justify-content: space-evenly;
  align-items: center;
}
.text-content p {
  text-align: start;
  font-family: 'Rubik';
  color: #2D2D2D;
  width: 80%;
  margin: 0;
}

.container-p-arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text-content h2 {
  text-align: start;
  font-family: 'Rubik';
  width: 80%;
  margin: 0;
  color: #F1A10A;
}

.bloco-um, .bloco-dois, .bloco-tres, .bloco-quatro {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30vh 60vh 30vh 60vh;
  grid-row-gap: 5rem;
  grid-template-areas: 
  "a b b c d d"
  ". . e e f f"
  "h h g j j i "
  "k k l l . ."
  ;
}

.frag0 {
  margin: 0;
  grid-area: a;
}
.frag1  {
  display: flex;
  margin: 0;
  grid-area: b;

}
.frag2 {
  margin: 0;
  grid-area: c;
}
.frag3  {
  display: flex;
  margin: 0;
  grid-area: d;
}
.frag4  {
  margin: 0;
  grid-area: e;
}
.frag5  {
  display: flex;
  margin: 0;
  grid-area: f;
}
.frag6  {
  margin: 0;
  grid-area: g;
}
.frag7  {
  display: flex;
  margin: 0;
  grid-area: h;
}
.frag8  {
  margin: 0;
  grid-area: i;
}
.frag9  {
  display: flex;
  margin: 0;
  grid-area: j;
}
.frag10  {
  margin: 0;
  grid-area: k;
}
.frag11 {
  display: flex;
  margin: 0;
  grid-area: l;
}
.card-p-content {
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  Line-height:30px;
  font-weight: 400;
  font-size: 20px;
  height: 90px;
}
@media(max-width:800px) {
.text-content > p{
  display: none;
}
.container-p-arrow {
  display: none;
}

}