textarea {
  resize: none;
}
.popup-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  background-color: #FFFFFF;
  /* font-size: 32px; */
  align-items: center;
}

.popup-container > h2 {
  color: #F1A10A;
}
.form-container {
  display: flex;
  flex-direction: column;
  /* font-size: 32px; */
  gap: 1rem;
  color: #000000;
}
.label-input {
  display: flex;
  /* font-size: 32px; */
  flex-direction: column;
  gap: 0.5rem;
}
.button-submit {
  background-color: #2D2D2D;
  cursor: pointer;
  color:  #FFFFFF;
}
.input {
  border: 1px solid #2D2D2D;
  border-radius: 4px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 0.5rem;
}
