
textarea {
  resize: none;
}
.popup-container {
  
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
  padding: 2rem 5rem;
}
.popup-container > h2 {
  color: #F1A10A;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #000000;
}
.label-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.button-submit {
  padding: 5%;
  display: flex;
  border-radius: 4px;
  align-content: center;
  justify-content: space-evenly;
  background-color: #2D2D2D;
  cursor: pointer;
  color:  #FFFFFF;
}
.button-submit img {
  width: 8%;
  align-self: center;
}
.button-submit h3 {
  margin: 0;
}
.input {
  border: 1px solid #2D2D2D;
  border-radius: 4px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 0.5rem;
}
.close-popup-icon {
  border: none;
  cursor: pointer;
  align-self: flex-end;
}